.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialog {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.dialog img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
}
.dialog.active {
  color: white;
}
.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.message {
  color: palevioletred;
  padding: 15px;
  display: inline-block;
}
.message:nth-child(even) {
  text-align: right;
}
.message span {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: lightgreen;
}
